*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: #e5e5e5;
  padding-bottom: 4rem;
}

.header {
  width: 100%;
  height: 100px;
  background: #41b3cd;;
}

.background {
  display: inline-block;
  background: #4dbfd9;
  width: 100%;
  height: 190px;
  position: absolute;
  left: 0;
}

.main {
  width: 1024px;
  min-height: 100%;
  margin: 0 auto;
  z-index: 2;
  opacity: 0.99;
}

.header__main {
  min-height: 55px;
  box-shadow: 0.14px 1px 3px 1px rgba(0,1,1,.118);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__main {
  margin-top: 3.5rem;
}

.about__main_hero {
  background: url("assets/images/about_bg.jpg") no-repeat top;
  padding: 3.5em 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 170px;
  border-radius: 50%;
}

.about__main_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: 'Balthazar', 'Roboto', sans-serif;
}

.name_info {
  font-size: 2.2rem;
}

.links_info {
  margin-top: 2rem;
}

.links_info a{
  margin: 0 6px;
  font-size: 1.8rem;
  color: #fff;
  -webkit-transition: .8s cubic-bezier(.68,-.55,.265,1.55);
  transition: .8s cubic-bezier(.68,-.55,.265,1.55);
}

.links_info a:hover {
  color: #4dbfd9;
}

.buttons_info {
  margin-top: 2rem;
  display: flex;
  column-gap: 30px;
}

.btn-default {
  background: 0 0;
  cursor: pointer;
  line-height: 1.5;
  padding: 17px 45px;
  overflow: hidden;
  font-size: 1.2rem;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  transition: .8s cubic-bezier(.68,-.55,.265,1.55);
}

.btn-default:hover {
  background: #3eb0ca;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.btn-active {
  background: #4dbfd9;
}

.about__main_text {
  background: aliceblue;
  padding: 28px 68px;
  display: flex;
}

.text_summary {
  width: 60%;
  padding-right: 40px;
  text-align: justify;
}

.text_contacts {
  width: 38%;
}

.contacts,
.summary {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 1.6rem;
}

.text_active {
  color: #4dbfd9;
}

.contacts__group {
  width: 100%;
}

.contacts__group li{
  list-style-type: none;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.text_default {
  font-size: 0.92rem;
}

.name__contact {
  width: 40%;
  font-weight: 600;
}

.border {
  margin-top: 1.9rem;
  display: block;
  min-width: 100%;
  height: 1px;
  border-bottom: 1px dashed #4dbfd9;
}

.skills__main,
.examples__main,
.experience__main,
.education__main,
.english__main,
.send__main {
  margin-top: 3.5rem;
  width: 100%;
  height: auto;
  background: aliceblue;
  padding: 28px 68px;
}

.skills__main_container {
  width: 100%;
  display: grid;
  grid:
  'coding design manege'
  / 1fr    1fr    1fr;
  column-gap: 1.5rem;
}

.skills_coding {
  grid-area: coding;
}

.skills_design {
  grid-area: design;
}

.skills_manage {
  grid-area: manege;
}

.skills_group {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4dbfd9;
}

.skills_name_group {
  text-align: start;
}

.skills_name_group li {
  list-style: none;
  margin-top: 1rem;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #4dbfd9;
  display: inline-block;
  margin-right: 0.5rem;
}

.experience_text_box {
  width: 100%;
  display: grid;
  grid: 'company experience' / 2fr 3fr;
  column-gap: 1.5rem;
}

.company {
  grid-area: company;
  text-align: justify;
}

.experience_text {
  grid-area: experience;
  text-align: justify;
}

.title_company {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.name_company {
  font-family: 'Balthazar', 'Roboto', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.send_me {
  display: grid;
  grid:
  'input-name  textarea-br'
  'input-email textarea-br'
  'input-phone textarea-br'
  '     .        block    '
  /   1fr         1fr;
  gap: 1rem;
}

#input_name {
  grid-area: input-name;
}

#input_email {
  grid-area: input-email;
}

#input_phone {
  grid-area: input-phone;
}

.btn__group {
  grid-area: block;
  text-align: end;
}

#textarea {
  grid-area: textarea-br;
  display: block;
  width: 100%;
  padding: 20px 20px;
  font-size: 1.3rem;
  line-height: 1.42857;
  color: #555;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input_send {
  display: block;
  width: 100%;
  padding: 12px 20px;
  font-size: 1rem;
  line-height: 1.42857;
  color: #555;
  background-color: aliceblue;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input_send:focus,
#textarea:focus {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
  border-color: #4dbfd9;
  outline: none;
}

.btn-form {
  width: 160px;
  display: inline-block;
  background: 0 0;
  cursor: pointer;
  line-height: 1.5;
  padding: 17px 0;
  text-align: center;
  overflow: hidden;
  font-size: 1.2rem;
  color: #404040;
  border: 1px solid #404040;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  transition: .8s cubic-bezier(.68,-.55,.265,1.55);
  margin-right: 2rem;
}

.btn-form-green {
  background: #4dbfd9;
  color: aliceblue;
}

.btn-form:hover {
  background: #3eb0ca;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

